body{
		
	background: Anime.jpg
}

.contect{

	width: 80%;
	margin-right: auto;
	margin-left: auto;
	
}		
	

h1,h2{
text-align: center;
color: #D2691E;
font-size: 25px;
font-weight: bolder;
}	  	

p{
	display: white;

}

ul, li{

	text-decoration: underline;
	color: white;
	font-size: 17px;
	font-weight: bolder;
	display: inline;
}



 header, footer{
 	background-color: rgba(0,0,0);


 		}

  .menu{
  	 text-align: center;

 }

  .Menu{

 	position: absolute;
 	right: 8%;
        top: 1%;
	display: inline-block;
  	margin-left: 13px;
  	font-size: 20px;


 }

  .Menu{

  	display: inline-block;
  	margin-left: 13px;
  	font-size: 20px;
}




