body{
		
	background: Anime.jpg
}

.contect{

	width: 80%;
	margin-right: auto;
	margin-left: auto;
	
}		
	

h1{
text-align: center;
color: #D2691E;
font-size: 25px;
font-weight: bolder;
}

h2{
 color: #D2691E;
 font-size: 25px;
 font-weight: bolder;
}

.font{
	
	font-size: 18px;

}

ul, li{

	text-decoration: underline;
	color: white;
	font-size: 17px;
	font-weight: bolder;
	display: inline;
}



 header, footer{
 	background-color: rgba(0,0,0);


 }



#Akira Toriyama{
	height="380"
}

#Menu-h{
  list-style: none;
  padding: 0;
}

#Menu-h li{
  display: inline;
}

#Menu-h li a{
  color: #6959CD;
  display: inline-block;
  padding: 20px;
}

#Menu-h li a:hover{
  color: #191970;
  float: right;
}



