body{
		
	background: Anime.jpg
}

.contect{

	width: 80%;
	margin-right: auto;
	margin-left: auto;
	


}		
	

h1,h2{
text-align: center;
color: orange;
font-size: 25px;
font-weight: bolder;
}	  	

p{

	color: white; 	
	font-size: 23px;
	text-align: justify;

}

ul li{

	text-decoration: underline;
	color: white;
	font-size: 17px;
	font-weight: bolder;
	display: inline;
}



 header, footer{
 	background-color: rgba(0,0,0);


 		}

  .menu{
  	 text-align: center;

 }

  #Menu{

 	position: absolute;
 	right: 8%;
        top: 1%;

 }

  #Menu

  	display: inline;
  	margin-left: 13px;
  	font-size: 20px;

 }
